@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab.ttf");
}

html {
  background-size: cover;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #277da8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
}

main {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 2%;
  display: block;
  overflow: height;
  min-height: calc(100vh - 250px);
}

h1 {
  color: white;
}

p {
  color: white;
  text-align: center;
}

img {
  border-radius: 1%;
}

.page-container {
  min-height: 800px;
  height: 100%;
  font-size: 14px;
  display: block;
}

.page-container img{
  width: 100%;
}

.main-text {
  text-align: left;
  font-size: 1.5rem;
}