.footer {
    background-color: #053067;
    position: relative;
    width: 100%;
    height: 100px;
    display: block;
    
}


.footer-info-container {
    display: flex;
    float: right;
}

.footer-info-text {
    display: -webkit-flex;
    float: right;
    display: flex;
    align-items: center;
}