.header {
  background-color: #053067;
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;  
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.logo-div {
  display: flex;
  align-items: center;
  height: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 25px;
  letter-spacing: .04em;
}
.logo h1 {
  color: white;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 25px;
  letter-spacing: .04em;
}

.header a:hover {
  border-radius: 0px;
  border-bottom: 1px solid white;
}

.dropdown {
  margin: auto;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightcoral;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

.hamburger-content {
  display: none;
  position: absolute;
  background-color: lightcoral;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 10px;
}

.hamburger-menu:hover .hamburger-content {
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown h1 {
  font-size: 1.5rem;
  margin: 0;
}


.hamburger-menu {
  display: none;
  margin-left: auto;
}

.hamburger-menu:hover .dropdown-content{
  display: block;
}

.hamburger-line {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}



@media screen and (max-width: 800px){
  .header-right {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
}

