.resume-text {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: flex;
}

.react-pdf__Page__canvas {
    margin: auto;
}
  
.react-pdf__Page {
    width: 100%;
}
  
@media screen and (max-width: 800px){
    .react-pdf__Document {
        display: none;
    }
  
}